# ignore everything
*
# except for
!.gitmodules
!bun.lockb
!foundry.toml
!package.json
!solhint.json
!tsconfig.json
!generated/
!lib/
!scripts/
!scripts/devnet/
!deployments/
!Dockerfile.devnet
!src/

# needed for forge
!.git
