# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/84532/
/broadcast/*/11155111/
/broadcast/*/11155420/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# yarn
node_modules/
yarn-error.log
_
.DS_Store
generated/actions.ts
generated/hooks.ts
